/Debug-SoQt-HSTM/
/.settings
/.cproject
/.project
/.DS_Store
/Debug-SoQt-HSTM-Library/
/tmp/
/Debug/
/testSTARE/
/VizHTM_main/
/build/
/areas-level=0.csv
/areas-level=1.csv
/areas-level=2.csv
/areas-level=3.csv
/areas-level=4.csv
/areas-level=5.csv
/areas-level=6.csv
/areas-level=7.csv
/areas-level=8.csv
